<html>
	<head>
		<title>Capex Approval</title>
		<style>
			td,
			th {
				border: 1px solid black;
			}

			table {
				border-collapse: collapse;
			}
		</style>
	</head>
	<body>
		<div>
			Hi, our Sidomuncul Capex Online system have a message for you. <br />
			Capex ID {{.CapexID}} has been update from {{.Sender}}, please approve
			:<br /><br />
			<table>
				<thead>
					<tr>
						<th>Code</th>
						<th>Budget</th>
						<th>Amount Assigned</th>
						<th>Budget Available</th>
					</tr>
				</thead>
				<tbody>
					{{range .Budgets}}
					<tr>
						<td>{{.Code}} | {{.Desc}}</td>
						<td style="text-align: right">{{separator .Amount}}</td>
						<td style="text-align: right">{{separator .CapexAmount}}</td>
						<td style="text-align: right">{{separator .Available}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>

			<br />
			Silahkan klik link di bawah ini untuk informasi lebih lanjut: <br />
			<a href="{{.Domain}}/capex/{{.CapexID}}"
				>{{.Domain}}/capex/{{.CapexID}}</a
			>
		</div>
	</body>
</html>
